body{
  font-family: "Ubuntu";
}
#title{
  background-color: #FF4C68;
}
.container-fluid{
  padding: 3% 15% 7%;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  font-weight: 700;
}
h2{
  font-family: Montserrat;
  font-weight: bold;
  color: black;
  font-size: 2.5rem;
  line-height: 1.5;
}
h3{
  font-family: Montserrat;
  font-weight: bold;
}
h4{
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    font-size:2.5rem;
    line-height: 1.5;
}
p{
    color: #8f8f8f;
}

/* navigation bar */
.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
}
.nav-item{
  font-family: "Montserrat";
  font-size: 20px;
  padding: 0 18px;
}
.nav-link:hover{
  color: white;
  font-weight: bold;
}
/* .nav-link{

} */

/* Download button */
.Download-button{
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-image{
  width:250px;
  transform: rotate(20deg);
  position: absolute;
  left:65%;
}

/* features */
#features{
  background-color: white;
  text-align: center;
  padding: 5%;
  position: relative;
}

.img-feature{
  padding-bottom: 1.2rem;
  width: 15rem;
  color: #ef8172;
}
.img-feature:hover{
  color: #ff4c68;
}

/* testimonials */

#testimonials{
  background-color:#ef8172;
  text-align: center;
  color: white;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-img{
  width: 20%;
  border-radius: 100%;
  padding: 20px;
}
.carousalitm{
  color: white;
}

/* press section */
#press{
  background-color:#ef8172;
  padding-bottom: 20px;
  text-align: center;
}
.press-img{
  width: 13rem;
  padding: 10px 30px;
}
.carousel-indicators{
  margin-bottom:5%;
}

/* price section */
#pricing{
padding: 3% 7%;
text-align: center;
}
.pricetag{
  color: black;
}
.pricing-column{
  /* border: solid 1px; */
  padding-left:0;
  padding-right: 0;
  margin: 45px;
}

.pricing-column:hover{
  border:solid 3px #0d6efd;
}

@media (max-width: 1000px) {
  .title-image{
    position: static;
    transform: rotate(0);
    padding-top: 10px;
  }
  .container-fluid{
    text-align: center;
  }
}

/* footer */
#cta{
  background-color:#ff4c68;
  text-align: center;
  padding: 7% 15% 2%;
}

#footer{
  text-align: center;
  background-color:white;
  padding: 3% 7%;
}

.web-cont{
  padding: 25px;
}
.web-cont:hover{
  color: #ef8172;
}
